@Rashmi-Jadhav_magna:registry=https://npm.pkg.github.com/git_publish.git/
//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/
@OWNER:registry=https://npm.pkg.github.com/
